<tr>
  <td><%= bookmark.id %></td>
  <td><%= link_to bookmark.title, bookmark.url, :target => "_blank" %></td>
  <td><%= bookmark.created_at %></td>
  <td><%= link_to "Details", bookmark_path(bookmark.id), class: "btn btn-mini" %>
  <%= link_to "ändern", edit_bookmark_path(bookmark.id), class: "btn btn-mini" %>
  <%= link_to "löschen", bookmark, class: "btn btn-mini btn-danger", confirm: "Wollen Sie diesen Datensatz wirklich löschen?", method: "delete" %></td>
</tr>